.wrapper {
    width: 100vw;
    height: 75px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper div {
    color: white;
    margin: 0px 50px;
    width: 100px;
    height: 60%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.5;
}
