@import '../../../styles/mixins';

.videoCard {
    min-width: 300px;
    width: 95vw;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    background-color: $secondarycolor;
    cursor: pointer;

    &:hover {
        background-color: $tertiaryColor;
    }
}

.picture {
    width: 50%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info {
    width: 50%;
    padding: 20px 20px;
    @include flexCenter($justify: flex-start);
    color: $text-color-base;
    overflow: auto;
}

@include medium($width: min-width) {
    .videoCard {
        width: 780px;
    }
}