<div class="wrapperHeader">
    <app-header></app-header>

    <div class="wrapper">
        <div class="container">
            <div class="video">
                <div class="mi-iframe">
                    <!-- <div class="mi-iframe loading">
                        <mat-spinner></mat-spinner>
                        <h2>Loading . . .</h2>
                    </div> -->

                    <iframe id="ytplayer" type="text/html" width="100%" height="100%" [src]="this.safeUrl"
                        frameborder="0" allowfullscreen=""></iframe>
                </div>
                <p>{{this.info.title}}</p>
                <br>
                <div class="description" [ngStyle]="this.showFlag?{'height':'auto'}:{'height':'50px'}">
                    <p>{{this.info.description}}</p>
                </div>
                <div class="showMore" (click)="show()" *ngIf="!this.showFlag">Show more . . .</div>
                <div class="showMore" (click)="show()" *ngIf="this.showFlag">Show less . . .</div>
            </div>
            <div class="formularios">
                <form [formGroup]="formulario" (ngSubmit)="download(formulario.value.video)">

                    <label> Video </label>

                    <select class="selector" formControlName="video">
                        <option value="video" selected disabled hidden>Set Quality</option>
                        <option *ngFor="let video of this.audioVideo[1]" [value]="video.itag">{{video.qualityLabel}}
                        </option>
                    </select>


                    <span>
                        <input class="enviar" type="submit" value="Download">
                    </span>
                </form>
                <br>
                <form [formGroup]="formulario" (ngSubmit)="download(formulario.value.audio)">
                    <label> Audio </label>
                    <select class="selector" formControlName="audio">
                        <option value="audio" selected disabled hidden>Set Quality</option>
                        <option *ngFor="let audio of this.audioVideo[0]" [ngValue]="audio.itag">
                            Default
                        </option>
                    </select>
                    <span>
                        <input class="enviar" type="submit" value="Download">
                    </span>

                </form>
            </div>
        </div>

    </div>
</div>