* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapperHeader {
    background-color: black;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 5px;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

iframe {
    border-radius: 5px;
}

.mi-iframe {
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    background-image: url('../../../assets/DzUh.gif');
    background-position: center;
    background-size: contain;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.formularios {
    margin: 50px 0px;
}



.video p:nth-child(2) {
    font-size: 1.5rem;
    margin-top: 5px;
}

.enviar {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
    cursor: pointer;
}

span {
    display: inline-block;
    border-radius: 5px;
    padding: 1px;
    background: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    ;
    margin-left: 10px;
}

.selector {
    background: black;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    margin-left: 1px;
}

option {
    height: 40px;
    background: black;
}

.description {
    height: 50px;
    overflow: scroll;
}

.showMore {
    color: #85FFBD;
    font-size: 1.2rem;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    z-index: 0;
}

.loading h2 {
    margin-top: 50px;
}


@media (min-width:760px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .container {
        width: 80%;
    }


    .video p:nth-child(2) {
        margin-top: 20px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 952px;
        height: auto;
    }

}