<div class="wrapperHeader">
    <app-header></app-header>

    <div class="wrapper">
        <span class="dialog" [ngStyle]="this.showFlag?{'display':'block'}:{'display':'none'}">
            <dialog id="dialogo">
                <div class="mensaje">
                    <h3>Download already start.</h3>
                    <h3> Wait a few seconds please.</h3>
                </div>
                <button (click)="close()">Ok</button>
            </dialog>
        </span>
        <div class="container">
            <div class="video">
                <div class="mi-iframe">
                    <iframe id="ytplayer" type="text/html" width="100%" height="100%" [src]="this.safeUrl"
                        frameborder="0" allowfullscreen=""></iframe>
                </div>
                <p>{{this.info.title}}</p>
                <br>
                <div class="description">
                    <p>{{this.info.description}}</p>
                </div>
            </div>
            <div class="formularios">
                <form [formGroup]="formulario" (ngSubmit)="download(formulario.value.video)">

                    <label> Video </label>

                    <select class="selector" formControlName="video">
                        <option value="" selected disabled hidden>Set Quality</option>
                        <option *ngFor="let video of this.audioVideo[1]" [value]="video.itag">{{video.qualityLabel}}
                        </option>
                    </select>


                    <span>
                        <input class="enviar" type="submit" value="Download"
                            [disabled]="!this.formulario.controls['video'].valid">
                    </span>
                </form>
                <br>
                <form [formGroup]="formulario" (ngSubmit)="download(formulario.value.audio)">
                    <label> Audio </label>
                    <select class="selector" formControlName="audio">
                        <option value="" selected disabled hidden>Set Quality</option>
                        <option *ngFor="let audio of this.audioVideo[0]" [ngValue]="audio.itag">
                            Default
                        </option>
                    </select>
                    <span>
                        <input class="enviar" type="submit" value="Download"
                            [disabled]="!this.formulario.controls['audio'].valid">
                    </span>

                </form>
            </div>
        </div>

    </div>
</div>
