<div class="wrapper">
    <div class="container">
        <div class="banner">
            <h1>Video Downloader</h1>
            <div class="arrow-down">
                <h3>Scroll Down</h3>
                <i class="fa-solid fa-chevron-down fa-2xl"></i>
            </div>
        </div>
        <div class="about">
            <div class="picture">
                <img src="../../../assets/youtube-banner.jpg" alt="">
            </div>

            <div class="info">
                <p>Have you ever wanted to download a video from youtube and didn't know how?</p>
                <br>
                <p>Don't worry Video Downlader is here to help you.</p>
                <br>
                <p>
                    Through this application you can search for your favorite videos by title or URL.
                    Once you find them just select the quality of the video you want to download. You also have the
                    option to download the audio only.
                </p>
                <br>
                <p>
                    All the downloads you make will be through streaming so you won't have to wait long until the
                    download is finished.</p>
                <br>
                <p>
                    Now you can enjoy your videos wherever and whenever you want.
                </p>
                <br>
            </div>
            <br>
            <span>
                <button class="boton" routerLink="search">Start</button>
            </span>
        </div>
    </div>
</div>