<div class="wrapheader">
    <app-header></app-header>


    <div class="bodyNigth">
        <div class="night">
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
            <div class="shooting_star"></div>
        </div>
    </div>

    <!-- <span class="dialog" [ngStyle]="this.showFlag?{'display':'block'}:{'display':'none'}">
        <dialog id="dialogo">
            <div class="mensaje">
                <h3>Download already start.</h3>
                <h3> Wait a few seconds please.</h3>
            </div>
            <button (click)="close()">Ok</button>
        </dialog>
    </span> -->


    <div class="wrapper">
        <div class="container">

            <form class="formulario" #formulario="ngForm" (ngSubmit)="search(formulario)">
                <span class="search">
                    <input placeholder="Any video you want" type="text" name="search" ngModel>
                </span>

                <span class="boton">
                    <input class="enviar" type="submit" value="Buscar">
                </span>

            </form>
        </div>
        <div class="videoList">

            <div class="videoCard" *ngFor="let item of this.busqueda;index as i" (click)="goToVideo(item.id.videoId)">

                <div class="picture" [ngStyle]="{'background-image':'url(' + item.snippet.thumbnails.medium.url + ')'}">
                    <!-- <img [src]="item.snippet.thumbnails.medium.url" alt=""> -->
                </div>
                <div class="info">
                    <p>{{item.snippet.title}}</p>
                    <br>
                    <!-- <p>Duracion: {{this.time[i]}}</p> -->
                </div>
            </div>
        </div>

    </div>
</div>